// Заголовки, общие БЄМ блоки и проче...
.title {
 @extend %ruberoid-medium;
 @include adaptiveValue("font-size", 45, 26);
 line-height: math.div(60, 45);
 text-transform: capitalize;
 color: $mainColor;
 max-width: max-content;
 span {
  display: block;
  position: relative;
 }
}






.block {
 @include adaptiveValue("padding-bottom", 100, 30);
}

.btn-box {
 background: rgba(120, 192, 129, 0.25);
 border-radius: rem(40);
 max-width: rem(477);
 width: 100%;
 height: rem(115);
 position: relative;
}

.btn {
 position: absolute;
 @extend %ruberoid-medium;
 @include adaptiveValue("font-size", 17, 15);
 line-height: math.div(23, 17);
 letter-spacing: 0.04em;
 display: inline-block;
 text-transform: uppercase;
 max-width: rem(447);
 width: 90%;
 text-align: center;
 color: $primaryColor;
 background-color: $btnColor;
 border-radius: rem(30);
 box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
 padding: rem(32);
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 transition: all 0.7s;
 &:hover {
  background-color: $btnActiveColor;
 }
}