.heading {
 position: relative;
 background-image: url("../img/heading/bg.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: 10% 10%;
 padding-bottom: rem(64);
 @include adaptiveValue("padding-top", 170, 120);
 @media (max-width: $mobileSmall) {
  padding-left: 0;
 }
 // .heading__inner 
 &__inner {
  max-width: rem(525);
  width: 100%;
 }
 // .heading__title
 &__title {
  @extend %ruberoid-medium;
  @include adaptiveValue("font-size", 64, 34);
  line-height: math.div(74, 64);
  text-transform: capitalize;
  margin-bottom: rem(20);
  &_pseudo {
   display: block;
   position: relative;
   @include adaptiveValue("padding-left", 200, 110);
   &::before {
    @include pseudo;
    @include adaptiveValue("max-width", 148, 100);
    width: 100%;
    height: rem(3);
    background-color: $secondaryColor;
    left: 0;
    top: 50%;
    border-radius: rem(1.5);
   }
  }
  &_color {
   display: block;
   color: $secondaryColor;
   letter-spacing: 0.03em;
   text-transform: uppercase;
  }
 }
 // .heading__text
 &__text {
  @include adaptiveValue("font-size", 22, 18);
  line-height: math.div(32, 22);
  color: $accentColor;
  @include adaptiveValue("margin-bottom", 52, 30);
 }
 // .heading__info
 &__info {
  @include adaptiveValue("font-size", 16, 14);
  display: flex;
  @include adaptiveValue("gap", 70, 20);
  color: $itemColor;
  @include adaptiveValue("margin-bottom", 60, 30);
  @media (max-width: $mobileSmall) {
   flex-direction: column;
  }
 }
 // .heading__location,
 // .heading__phones
 &__location,
 &__phones {
  padding-left: rem(50);
  position: relative;
  &::before {
   @include pseudo;
   width: rem(32);
   height: rem(32);
   left: 0;
   top: 50%;
   transform: translateY(-50%);
  }
 }
 // .heading__location
 &__location {
  max-width: rem(205);
  font-style: normal;
  &::before {
   @include background(url("../img/icons/location.svg"));
   @media (max-width: $mobileSmall) {
    width: rem(25);
    height: rem(25);
   }
  }
 }
 // .heading__phones
 &__phones {
  &::before {
   @include background(url("../img/icons/phone.svg"));
   @media (max-width: $mobileSmall) {
    display: none;
   }
  }
  @media (max-width: $mobileSmall) {
   display: flex;
   @include adaptiveValue("gap", 34, 5);
   padding-left: 0;
  }
 }
 // .heading__phone
 &__phone {
  @media (max-width: $mobileSmall) {
   position: relative; 
   padding-left: rem(32);
   &::before {
    @include pseudo;
    @include background(url("../img/icons/phone.svg"));
    width: rem(25);
    height: rem(25);
    left: 0;
   }
  }
 }
}
//====================================================================================================
.services {
 @include adaptiveValue("padding-top", 100, 30);
 // .services__inner
 &__inner {
  display: flex;
  justify-content: space-between;
  @include adaptiveValue("gap", 100, 50);
  @media (max-width: $tablet) {
   flex-direction: column;
  }
 }
 // .services__descr
 &__descr {
  flex: 0 0 100%;
 }
 //. services__body 
 &__body {
  width: 40%;
  @media (max-width: $tablet) {
   width: 100%;
  }
 }
 // .services__title
 &__title {
  margin-bottom: rem(20);
  span {
   &::after {
    @include pseudo;
    @include adaptiveValue("max-width", 245, 100);
    width: 100%;
    height: rem(3);
    background-color: $secondaryColor;
    right: 0;
    top: 50%;
    border-radius: rem(1.5);
   }
  }
 }
 // .services__text
 &__text {
  display: flex;
  flex-direction: column;
  gap: rem(30);
 }
}
//==================================================================
.tabs {
 max-width: rem(751);
 width: 100%;
 flex: 0 0 50%;
 transform: translate(-110%, 0);
 @media (max-width: $tablet) {
  transform: none;
  margin: 0 auto;
 }
 &__inner {
  display: flex;
  align-items: center;
  min-height: rem(655);
  @media (max-width: $tablet) {
   flex-direction: column;
  }
 }
 // .tabs__navigation
 &__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: $mobileBgColor;
  border-radius: rem(45) 0px 0px rem(45);
  height: rem(486);
  max-width: rem(72);
  width: 100%;
  @media (max-width: $tablet) {
   flex-direction: row;
   height: rem(65);
   max-width: 90%;
   border-radius: rem(45) rem(45) 0 0;
  }
 }
 // .tabs__title
 &__title {
  @include adaptiveValue("font-size", 16, 13);
  max-width: rem(65);
  width: 100%;
  height: rem(233);
  background-color: $primaryColor;
  padding-top: rem(48);
  &._tab-active {
   background-color: $btnColor;
   color: $primaryColor;
  }
  &_ventilation {
   border-top-left-radius: rem(40);
   position: relative;
   &::after {
    @include pseudo;
    @include background(url("../img/icons/vent.svg"));
    width: rem(33);
    height: rem(33);
    right: 20%;
    top: 5%;
    @media (max-width: $tablet) {
     top: 20%;
     right: 10%;
    }
    @media (max-width: $mobile) {
     display: none;
    }
   }
  }
  &_air {
   border-bottom-left-radius: rem(40);
   position: relative;
   &::after {
    @include pseudo;
    @include background(url("../img/icons/conditioning.svg"));
    width: rem(33);
    height: rem(33);
    top: 5%;
    right: 20%;
    @media (max-width: $tablet) {
     top: 20%;
     right: 10%;
    }
    @media (max-width: $mobile) {
     display: none;
    }
   }
   @media (max-width: $tablet) {
    border-bottom-left-radius: rem(0);
    border-top-right-radius: rem(40);
   }
  }
  span {
   writing-mode: vertical-lr;
   transform: rotate(-180deg);
  }
  @media (max-width: $tablet) {
   height: rem(60);
   max-width: 49%;
   padding-top: 0;
   span {
    writing-mode: horizontal-tb;
    transform: rotate(0);
   }
  }
 }
 // .tabs__content
 &__content {
  height: auto;
  width: 100%;
 }
}
//======================================================================
.body-tabs {
 height: 100%;
 // .body-tabs__inner
 &__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $mobileBgColor;
  border-radius: rem(45) 0px 0px rem(45);
  height: 100%;
  gap: rem(10);
  @media (max-width: $tablet) {
   flex-direction: column;
   border-radius: rem(45);
  }
 }
 // .body-tabs__list
 &__list {
  display: flex;
  flex-direction: column;
  gap: rem(25);
  @include adaptiveValue("padding-left", 40, 10);
  padding: rem(20) 0;
 }
 // .body-tabs__item
 &__item {
  @include adaptiveValue("font-size", 20, 16);
  line-height: math.div(30, 20);
  display: flex;
  align-items: center;
  gap: rem(15);
 }
 // .body-tabs__item-pseudo
 &__item-pseudo {
  max-width: rem(34);
  width: 100%;
  height: rem(34);
  background-color: $primaryColor;
  border-radius: rem(10);
  position: relative;
  &::before {
   @include pseudo;
   @include background(url("../img/icons/curve.svg"));
   width: rem(20);
   height: rem(20);
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  &_2::before {
   @include background(url("../img/icons/fan.svg"));
  }
  &_3::before {
   @include background(url("../img/icons/extractor.svg"));
   width: rem(22);
   height: rem(21);
  }
  &_4::before {
   @include background(url("../img/icons/humidity.svg"));
   width: rem(18);
   height: rem(18);
  }
  &_5::before {
   @include background(url("../img/icons/air-cooler.svg"));
   height: rem(14);
  }
  &_6::before {
   @include background(url("../img/icons/ac-vent.svg"));
  }
  &_8::before {
   @include background(url("../img/icons/air-conditioner.svg"));
   height: rem(14);
  }
  &_9::before {
   @include background(url("../img/icons/split.svg"));
   height: rem(18);
  }
  &_10::before {
   @include background(url("../img/icons/condenser.svg"));
   width: rem(22);
  }
  &_11::before {
   @include background(url("../img/icons/ceiling.svg"));
  }
  &_12::before {
   @include background(url("../img/icons/air-filter.svg"));
   width: rem(16);
  }
 }
 // .body-tabs__image
 &__image {
  filter: drop-shadow(-4px 0px 8px rgba(15, 44, 15, 0.35));
  max-width: rem(240);
  width: 100%;
  height: 100%; 
  img {
   width: 100%;
   height: 100%;
  }
  @media (max-width: $tablet) {
   max-width: 100%;
  }
 }
 // .body-tabs__image-vent
 &__image-vent {
  @media (max-width: $tablet) {
   content: url("img/services/tab-1.2.png");
  }
  @media (min-width: $tablet) {
   content: url("img/services/tab-1.png");
  }
 }
  // .body-tabs__image-condit
  &__image-condit {
   @media (max-width: $tablet) {
    content: url("img/services/tab-2.2.png");
   }
   @media (min-width: $tablet) {
    content: url("img/services/tab-2.png");
   }
  }
}
//====================================================================================================
.prices {
 background: url('../img/prices/bg.png'), $primaryColor;
 background-repeat: no-repeat;
 background-position: 88% 62%;
 background-size: 81% 74%;
 position: relative;
 &::before {
  @include pseudo;
  @include background(url("../img/prices/pseudo-1.png"));
  background-size: contain;
  width: rem(467);
  height: rem(468);
  left: -8%;
  top: 12%;
  @media (max-width: $tablet) {
   display: none;
  }
 }
 // .prices__title
 &__title {
  @include adaptiveValue("margin-bottom", 80, 20);
  span {
   &::after {
    @include pseudo;
    @include adaptiveValue("max-width", 240, 100);
    width: 100%;
    height: rem(3);
    background-color: $secondaryColor;
    right: 0;
    top: 50%;
    border-radius: rem(1.5);
    @media (max-width: 671px) {
     top: -37%;
    }
    @media (max-width: 392px) {
     top: 75%;
     left: 30%;
    }
   }
  }
 }
 // .prices__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  @include adaptiveValue("gap", 47, 10);
  @media (max-width: $mobile) {
   grid-template-columns: repeat(2, 1fr);
   row-gap: rem(20);
  }
 }
 // .prices__item
 &__item {
  position: relative;
  box-shadow: (0px 0px 10px rgba(73, 93, 76, 0.3));
  border-radius: rem(25);
  min-height: rem(135);
  height: 100%;
  cursor: pointer;
  transition: all 0.7s;
  background-color: $primaryColor;
  &:hover {
   box-shadow: (0px 20px 30px rgba(47, 228, 68, 0.3));
  }
 }
 // .prices__image
 &__image {
  position: relative;
  height: rem(92);
  img {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   object-fit: cover; 
   border-radius: rem(25) rem(25) 0 0;
  }
 }
 // .prices__coast
 &__coast {
  @extend %proxi-semibold;
  @include adaptiveValue("font-size", 15, 12);
  background-color: $mobileBgColor;
  display: block;
  border-radius: 0px rem(10) rem(10) 0px;
  padding: 0 rem(15);
  position: absolute;
  top: rem(22);
 }
 // .prices__name
 &__name {
  @extend %ruberoid-medium;
  @include adaptiveValue("font-size", 16, 14);
  color: $secondaryColor;
  padding: rem(5) rem(15);
  line-height: math.div(21, 16);
 }
}
//=========================================================================
.process {
 // .process__inner
 &__inner {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 84, 40);
 }
 // .process__top
 &__top {
  display: flex;
  align-items: center;
  @include adaptiveValue("gap", 90, 20);
  @media (max-width: $tablet) {
   display: block;
  }
 }
 // .process__title
 &__title {
  flex: 0 1 50%;
  span {
   &::after {
    @include pseudo;
    @include adaptiveValue("max-width", 100, 50);
    width: 100%;
    height: rem(3);
    background-color: $secondaryColor;
    right: 0;
    top: 50%;
    border-radius: rem(1.5);
   }
  }
 }
 // .process__list
 &__list {
  flex: 0 1 50%;
 }
 // .process__list-name
 &__list-name {
  @extend %ruberoid-medium;
  @include adaptiveValue("font-size", 26, 20);
  margin-bottom: rem(12);
  color: $secondaryColor;
 }
 // .process__item
 &__item {
  color: $accentColor;
  padding-left: rem(27);
  position: relative; 
  &::before {
   @include pseudo;
   @include background(url("../img/icons/flower.svg"));
   top: rem(5);
   left: 0;
   width: rem(17);
   height: rem(17);
  }
 }
}
//=====================================================================
.schematic {
 display: flex;
 justify-content: center;
 @media (max-width: $tablet) {
  flex-direction: column;
  gap: rem(40);
 }
 // .schematic__items
 &__items {
  display: flex;
  justify-content: space-between;
  max-width: rem(950);
  width: 100%;
  @media (max-width: $mobile) {
   flex-direction: column;
   align-items: center;
   gap: rem(40);
  }
 }
 // .schematic__item
 &__item {
  max-width: rem(170);
  width: 100%;
  height: rem(150);
  text-align: center;
  position: relative;
  &::before {
   @include pseudo;
   left: -145%;
   top: 10%;
   width: rem(268);
   height: rem(45);
   @media (max-width: $tablet) {
    width: rem(170);
    left: -110%;
   }
   @media (max-width: 880px) {
    width: rem(120);
    left: -110%;
   }
  }
  &_desire::before {
   @include background(url("../img/process/arrow-1.svg"));
   @media (max-width: $mobile) {
    width: rem(210);
    height: rem(36);
    transform: rotate(14deg);
    top: -10%;
   }
  }
  &_apply {
   @media (max-width: $mobile) {
    margin-left: 15%;
   }
   &::before {
    @include background(url("../img/process/arrow-2.svg"));
    height: rem(35);
    @media (max-width: $tablet) {
     height: rem(23);
    }
    @media (max-width: 880px) {
     height: rem(15.5);
     left: -80%;
    }
    @media (max-width: $mobile) {
     @include background(url("../img/process/arrow-5.svg"));
     width: rem(135);
     height: rem(177);
     left: 55%;
     top: -95%;
    }
    @media (max-width: 600px) {
     width: rem(100);
     height: rem(129);
     left: 70%;
    }
   }
  }
  &_realiz {
   @media (max-width: $mobile) {
    margin-right: 20%;
   }
   &::before {
    @include background(url("../img/process/arrow-3.svg"));
    height: rem(35);
    top: 40%;
    @media (max-width: $tablet) {
     height: rem(22);
    }
    @media (max-width: 880px) {
     height: rem(16);
     left: -80%;
    }
    @media (max-width: $mobile) {
     @include background(url("../img/process/arrow-6.svg"));
     width: rem(163);
     height: rem(166);
     top: -80%;
     left: -16%;
    }
    @media (max-width: 600px) {
     width: rem(128);
     height: rem(130);
     left: -24%;
    }
   }
  } 
  &_realiz::after {
   @include pseudo;
   @include background(url("../img/process/arrow-4.svg"));
   right: -145%;
   top: -29%;
   width: rem(287);
   height: rem(58);
   @media (max-width: $tablet) {
    display: none;
   }
   @media (max-width: $mobile) {
    display: block;
    transform: rotate(200deg);
    left: 95%;
    top: 50%;
   }
  }
 }
 // .schematic__circle
 &__circle { 
  max-width: rem(100);
  width: 100%;
  height: rem(100);
  background-color: $mobileBgColor;
  border-radius: 50%;
  margin: 0 auto rem(20);
  position: relative;
  &::before {
   @include pseudo;
   @include background(url("../img/icons/desire.svg"));
   width: rem(49);
   height: rem(59);
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
  }
  &_apply::before {
   @include background(url("../img/icons/apply.svg"));
   width: rem(42);
   height: rem(57);
  }
  &_realiz::before {
   @include background(url("../img/icons/real.svg"));
   width: rem(50);
   height: rem(50);
  }
 }
 // .schematic__name
 &__name {
  @extend %proxi-semibold;
  @include adaptiveValue("font-size", 24, 18);
  line-height: math.div(30, 24);
 }
}
//=======================================================================
.feedback {
 background-image: url("../img/feedback/bg.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 @include adaptiveValue("padding-top", 55, 30);
 @include adaptiveValue("padding-bottom", 55, 30);
 position: relative;
 &::before {
  @include pseudo;
  background-image: url("../img/feedback/pseudo.png");
  width: rem(209);
  height: rem(236);
  right: 0;
  top: 0;
 }
 // .feedback__title
 &__title {
  @extend %ruberoid-medium;
  @include adaptiveValue("font-size", 35, 28);
  line-height: math.div(45, 35);
  margin-bottom: rem(30);
  z-index: 8888;
  position: relative;
 }
 // .feedback__form
 &__form {
  display: flex;
  align-items: center;
  gap: rem(60);
  @media (max-width: $mobile) {
   flex-direction: column;
  }
 }
 // .feedback__fields
 &__fields {
  display: flex;
  gap: rem(30);
  flex: 0 1 52.2%;
  z-index: 444;
  @media (max-width: $mobile) {
   flex-direction: column;
   width: 100%;
  }
 }
 // .feedback__field
 &__field {
  flex: 0 1 53%;
  padding: rem(20);
  background-color: $primaryColor;
  border-radius: rem(15);
  box-shadow: 0px 0px 12px rgba(73, 93, 76, 0.15);
  border: rem(1) solid transparent;
  cursor: pointer;
  transition: all 0.7s;
  &::placeholder {
   font-size: rem(14);
   line-height: math.div(17, 14);
   color: rgba(124, 163, 129, 0.7);
  }
  &:hover {
   border-color: $btnColor;
  }
  &:focus {
   border-color: $secondaryColor;
  }
 }
 // .feedback__btn-box
 &__btn-box {
  max-width: rem(229);
  width: 100%;
  height: rem(75);
  @media (max-width: $mobileSmall) {
   max-width: 100%;
  }
 }
 // .feedback__btn
 &__btn {
  max-width: rem(209);
  width: 90%;
  padding: rem(15);
  @media (max-width: $mobileSmall) {
   max-width: 100%;
  }
 }
}
//===================================================================
.about {
 @include adaptiveValue("padding-top", 100, 30);
 // .about__inner
 &__inner {
  display: flex;
  align-items: center;
  @include adaptiveValue("gap", 100, 20);
  @media (max-width: $tablet) {
   flex-direction: column;
  }
 }
 // .about__content
 &__content {
  flex: 0 1 45.3%;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgb(73 93 76 / 10%);
  border-radius: 50px;
  padding: 33px 44px;
  position: relative; 
  &::before {
   @include pseudo;
   background: rgba(186, 255, 195, 0.5);
   top: 10%;
   left: -20%;
   right: 0;
   bottom: 0;
   filter: blur(100px);
   height: 90%;
   width: 130%;
   z-index: -1;
  }
 }
 // .about__title
 &__title {
  margin-bottom: rem(20);
  span {
   &::after {
    @include pseudo;
    @include adaptiveValue("max-width", 166, 90);
    width: 100%;
    height: rem(3);
    background-color: $secondaryColor;
    right: 0;
    top: 50%;
    border-radius: rem(1.5);
   }
  }
 }
 // .about__text
 &__text {
  display: flex;
  flex-direction: column;
  gap: rem(20);
 }
 // .about__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  @include adaptiveValue("gap", 79, 30);
  flex: 0 1 45%;
  @media (max-width: $tablet) {
   display: flex;
   flex-direction: column;
   width: 100%;
  }
 }
 // .about__item
 &__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: rem(122);
  &::before {
   @include pseudo;
   background: rgba(186, 255, 195, 0.3);
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   filter: blur(30px);
   height: 100%;
   width: rem(122);
   border-radius: 50%;
  }
  @media (max-width: $tablet) {
   &:nth-child(odd) {
    margin-left: -30%;
   }
   &:nth-child(even) {
    margin-left: 30%;
   }
  }
 }
 // .about__item-title
 &__item-title {
  @extend %ruberoid-medium;
  @include adaptiveValue("font-size", 24, 20);
  line-height: math.div(35, 26);
  margin-bottom: rem(15);
  color: $secondaryColor;
  span {
   @include adaptiveValue("font-size", 33, 29);
   line-height: math.div(47, 35);
  }
 }
 // .about__item-text
 &__item-text {
  color: $accentColor;
  line-height: math.div(26, 16);
  max-width: rem(198);
  width: 100%;
 }
}
//==========================================================================
.benefits {
 // .benefits__inner
 &__inner {
  display: flex;
  @include adaptiveValue("gap", 100, 30);
 }
 // .benefits__content
 &__content {
  flex: 0 1 43.4%;
  @media (max-width: $tablet) {
   flex: 1 0;
  }
 }
 // .benefits__title
 &__title {
  margin-bottom: rem(28);
 }
 // .benefits__icons
 &__icons {
  display: flex;
  flex-wrap: wrap;
  gap: rem(15);
  margin-bottom: rem(35);
 }
 // .benefits__icon
 &__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(70);
  height: rem(40);
  border: rem(1) solid $secondaryColor;
  border-radius: rem(20);
 }
 // .benefits__list
 &__list {
  display: flex;
  flex-direction: column;
  gap: rem(15);
  margin-bottom: rem(25);
 }
 // .benefits__item
 &__item {
  display: flex;
  align-items: center;
  gap:  rem(10);
  color: $accentColor;
  line-height: math.div(20, 16);
 }
 &__item-pseudo {
  max-width: rem(15);
  width: 100%;
  height: rem(15);
  border: rem(1) solid $secondaryColor;
  border-radius: rem(20);
  position: relative;
  &::before {
   @include pseudo;
   background-color: $secondaryColor;
   border-radius: rem(20);
   width: rem(7);
   height: rem(7);
   top: 40%;
   left: 40%;
   transform: translate(-30%, -30%);
  }
 }
 // .benefits__text
 &__text {
  margin-bottom: rem(50);
  span {
   @extend %proxi-semibold;
  }
 }
 // .benefits__images
 &__images {
  display: flex;
  align-items: center;
  flex: 0 1 50%;
  position: relative;
  &::before {
   @include pseudo;
   background: #BAFFC3;
   top: 0;
   left: 5%;
   filter: blur(175px);
   height: rem(718);
   width: rem(718);
   border-radius: 50%;
   z-index: -1;
  }
  @media (max-width: $tablet) {
   display: none;
  }
 }
 // .benefits__image
 &__image {
  img {
   width: 100%;
  }
 }
}
//==========================================================================
.scheme {
 // .scheme__title
 &__title {
  margin-bottom: rem(15);
 }
 // .scheme__items
 &__items {
  display: flex;
  flex-direction: column;
 }
 // .scheme__item
 &__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  &::after {
   @media (max-width: $mobile) {
    display: none !important;
   }
  }
  @media (max-width: $mobile) {
   &:not(:last-child) {
    margin-bottom: rem(30);
   }
  }
  @media (max-width: $mobileSmall) {
   display: block;
   background-size: 50%;
   background-position: center left;
  }
  // .scheme__item_requests
  &_requests {
   max-width: rem(474);
   width: 100%;
   @include adaptiveValue("min-height", 300, 112);
   background-image: url("../img/scheme/item-1.png");
   background-position: right;
   position: relative;
   &::after {
    @include pseudo;
    @include background(url("../img/scheme/pseudo-1.png"));
    width: rem(527);
    height: rem(78);
    left: 25%;
    bottom: 0;
    @media (max-width: $tablet) {
     max-width: rem(400);
     left: 10%;
     bottom: -15%;
     transform: rotate(15deg);
    }
   }
   @media (max-width: $mobileSmall) {
    background-size: contain;
   }
  }
  // .scheme__item_consalt
  &_consalt {
   max-width: rem(540);
   width: 100%;
   @include adaptiveValue("min-height", 272, 124);
   background-image: url("../img/scheme/consalt.png");
   margin-left: auto;
   margin-top: rem(-120);
   text-align: right;
   position: relative;
   &::after {
    @include pseudo;
    @include background(url("../img/scheme/pseudo-2.png"));
    width: rem(527);
    height: rem(78);
    left: -70%;
    bottom: -20%;
    @media (max-width: $tablet) {
     max-width: rem(200);
     left: -15%;
     bottom: -30%;
     transform: rotate(-30deg);
    }
   }
   @media (max-width: 1050px) {
    margin-top: 0;
   }   
  }
  // .scheme__item_visit
  &_visit {
   max-width: rem(496);
   width: 100%;
   @include adaptiveValue("min-height", 254, 113);
   background-image: url("../img/scheme/visit.png");
   position: relative;
   &::after {
    @include pseudo;
    @include background(url("../img/scheme/pseudo-3.png"));
    width: rem(219);
    height: rem(95);
    right: -7%;
    bottom: -28%;
   }
   @media (max-width: $mobileSmall) {
    background-position: right;
    background-size: contain;
   }
  }
  // .scheme__item_schedule
  &_schedule {
   max-width: rem(625);
   width: 100%;
   @include adaptiveValue("min-height", 274, 125);
   background-image: url("../img/scheme/schedule.png");
   background-position: 30%;
   margin-top: rem(-120);
   margin-left: auto;
   text-align: right;
   position: relative;
   &::after {
    @include pseudo;
    @include background(url("../img/scheme/pseudo-4.png"));
    width: rem(587);
    height: rem(139);
    left: -30%;
    bottom: -42%;
    @media (max-width: $tablet) {
     max-width: rem(350);
     left: -23%;
     bottom: -45%;
     transform: rotate(-23deg);
    }
   }
   @media (max-width: 1050px) {
    margin-top: 0;
   }
   @media (max-width: $mobileSmall) {
    background-size: contain;
    background-position: left;
   }
  }
  // .scheme__item_contract
  &_contract {
   max-width: rem(450);
   width: 100%;
   @include adaptiveValue("min-height", 300, 107);
   background-image: url("../img/scheme/contract.png");
   position: relative;
   &::after {
    @include pseudo;
    @include background(url("../img/scheme/pseudo-5.png"));
    width: rem(698);
    height: rem(165);
    right: -75%;
    bottom: -53%;
    @media (max-width: $tablet) {
     max-width: rem(350);
     left: 40%;
     bottom: -45%;
    }
   }
   @media (max-width: $mobileSmall) {
    background-position: right;
    background-size: contain;
   }
  }
  // .scheme__item_delivery
  &_delivery {
   max-width: rem(576);
   width: 100%;
   @include adaptiveValue("min-height", 190, 103);
   background-image: url("../img/scheme/delivery.png");
   margin-top: rem(-50);
   @include adaptiveValue("margin-bottom", 70, 30);
   margin-left: auto;
   text-align: right;
   @media (max-width: 1050px) {
    margin-top: 0;
   }
  }
  // .scheme__item_signing
  &_signing {
   max-width: rem(722);
   width: 100%;
   min-height: rem(100);
   background-image: url("../img/scheme/signing.png");
   background-position: center;
   margin: 0 auto;
   text-align: center;
   @media (max-width: $mobileSmall) {
    background-size: cover;
   }
  }
 }
 // .scheme__item-name
 &__item-name {
  @extend %ruberoid-medium;
  @include adaptiveValue("font-size", 35, 24);
  line-height: math.div(47, 35);
  color: $secondaryColor;
  @include adaptiveValue("margin-bottom", 15, 12);
 }
}
//========================================================================
.portfolio {
 // .portfolio__top
 &__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include adaptiveValue("margin-bottom", 110, 50);
  @media (max-width: $tablet) {
   flex-direction: column;
   gap: rem(30);
   align-items: flex-start;
  }
 }
 // .portfolio__title
 &__title {
  flex: 0 1 34%;
 }
 // .portfolio__text
 &__text {
  flex: 0 1 50%;
 }
 // .portfolio__slide
 &__slide {
  width: rem(270);
  background-size: cover;
  border-radius: rem(35);
  transition: all 0.2s ease;
  &_vent {
   background-image: url("../img/portfolio/slide-1.png");
   background-repeat: no-repeat;
  }
  &_air {
   background-image: url("../img/portfolio/slide-3.png");
   background-repeat: no-repeat;
  }
  &.swiper-slide-active {
   width: 500px !important;
   @media (max-width: $tablet) {
    width: rem(400) !important;
   }
   @media (max-width: $mobile) {
    width: rem(350) !important;
   }
 }
 }
 // .portfolio__slide-link
 &__slide-link {
  display: inline-flex;
  flex-direction: column;
  min-height: rem(456);
  height: 100%;
 }
 // .portfolio__logo
 &__logo {
  padding: rem(10) rem(30) rem(10) rem(40);
  background-color: $mobileBgColor;
  border-radius: 0px rem(15) rem(15) 0px;
  margin-top: rem(35);
  margin-bottom: auto;
  width: max-content;
 }
 // .portfolio__slide-info
 &__slide-info {
  color: $primaryColor;
  margin-top: auto;
  padding: 0 rem(50) rem(45) rem(40);
 }
 // .portfolio__slide-title
 &__slide-title {
  @extend %ruberoid-medium;
  @include adaptiveValue("font-size", 24, 20);
  line-height: math.div(34, 24);
  margin-bottom: rem(10);
  text-transform: capitalize;
 }
 // .portfolio__slide-text
 &__slide-text {
  line-height: math.div(19, 16);
 }
}
//=====================================================================================
.clients {
 display: flex;
 min-height: rem(515);
 background-image: url("../img/clients/bg.png");
 background-repeat: no-repeat;
 background-size: cover;
 @media (max-width: $tablet) {
  display: block;
  padding-top: rem(70);
 }
 @media (max-width: $mobile) {
  padding-bottom: rem(20);
 }
 // .clients__inner
 &__inner {
  display: flex;
  align-items: center;
  @include adaptiveValue("gap", 60, 30);
  min-height: rem(515);
  @media (max-width: $tablet) {
   display: block;
   min-height: auto;
  }
 }
 // .clients__content
 &__content {
  flex: 0 0 100%;
  @media (max-width: $tablet) {
   margin-bottom: rem(30);
  }
 }
 // .clients__body 
 &__body {
  width: 53.5%;
  @media (max-width: $tablet) {
   width: 100%;
  }
 }
 // .clients__title
 &__title {
  margin-bottom: rem(25);
  span {
   &::after {
    @include pseudo;
    @include adaptiveValue("max-width", 105, 25);
    width: 100%;
    height: rem(3);
    background-color: $secondaryColor;
    right: 0;
    top: 50%;
    border-radius: rem(1.5);
   }
  }
 }
 // .clients__text
 &__text {
  line-height: math.div(26, 16);
  span {
   @extend %proxi-bold;
  }
 }
 // .clients__slider
 &__slider {
  max-width: rem(611);
  width: 100%;
  padding: 0 rem(10);
  margin: 0 auto;
  flex: 0 0 45%;
  transform: translate(-110%, 0);
  @media (max-width: $tablet) {
   transform: none;
  }
 }
 // .clients__wrapper
 &__wrapper {
  margin-bottom: rem(20);
 }
 // .clients__slide-item
 &__slide-item {
  display: inline-block;
  background-color: $primaryColor;
  padding: rem(38) rem(35);
  border-radius: rem(30);
  width: 100%;
 }
 // .clients__slide-logo
 &__slide-logo {
  width: 100%;
 }
 // .clients__buttons
 &__buttons {
  display: flex;
  justify-content: center;
  gap: rem(35);
  cursor: pointer;
 }
}